openapi: 3.2.0
info:
  title: ICON Aircraft Content Posts API
  version: wp/v2
  description: 'Anonymous, read-only access to the editorial and marketing content behind www.iconaircraft.com, served by the WordPress core REST API (WordPress 6.7.1). ICON Aircraft publishes no developer program and no product API; this surface is the machine-readable projection of its corporate website — news posts, marketing and policy pages, the media library, and the category/tag taxonomy — and is captured here for discovery purposes only.

    Derived by API Evangelist from the live route index at https://www.iconaircraft.com/wp-json/ (HTTP 200, 233 routes, 10 namespaces) and from anonymous GET probes of each collection listed below on 2026-08-22. Only routes that answered 200 without credentials are described. Write methods exist on these routes but require a WordPress application password and are therefore excluded. The /wp/v2/users collection also answers anonymously; it is deliberately NOT described here because it returns identifiable author records.'
  contact:
    name: ICON Aircraft
    url: https://www.iconaircraft.com/company/contact/
  license:
    name: All rights reserved — ICON Aircraft
    url: https://www.iconaircraft.com/terms-of-use/
servers:
- url: https://www.iconaircraft.com/wp-json
  description: Production WordPress REST API (Pantheon origin, Fastly edge)
tags:
- name: Posts
  description: ICON Aircraft news and press releases.
paths:
  /wp/v2/posts:
    get:
      operationId: listPosts
      summary: List news posts
      description: Lists published ICON Aircraft news posts, newest first. Verified live at 159 published posts on 2026-08-22. Paginated via page/per_page; the total count and page count are returned in the X-WP-Total and X-WP-TotalPages response headers.
      tags:
      - Posts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/orderbyPost'
      - $ref: '#/components/parameters/categories'
      - $ref: '#/components/parameters/tags'
      - $ref: '#/components/parameters/context'
      - $ref: '#/components/parameters/embed'
      responses:
        '200':
          description: A page of posts.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/posts/{id}:
    get:
      operationId: getPost
      summary: Get a single news post
      tags:
      - Posts
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/context'
      - $ref: '#/components/parameters/embed'
      responses:
        '200':
          description: The post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: No object exists with that identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidParam:
      description: One or more query parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    tags:
      name: tags
      in: query
      description: Limit results to items assigned to the given tag IDs.
      schema:
        type: array
        items:
          type: integer
    search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    page:
      name: page
      in: query
      description: 1-indexed page of the collection to return.
      schema:
        type: integer
        minimum: 1
        default: 1
    context:
      name: context
      in: query
      description: Scope of the response. Anonymous callers may only use `view` and `embed`; `edit` requires authentication and returns 401 otherwise.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    orderbyPost:
      name: orderby
      in: query
      schema:
        type: string
        enum:
        - author
        - date
        - id
        - include
        - modified
        - parent
        - relevance
        - slug
        - title
        default: date
    categories:
      name: categories
      in: query
      description: Limit results to items assigned to the given category IDs.
      schema:
        type: array
        items:
          type: integer
    id:
      name: id
      in: path
      required: true
      description: Unique numeric identifier for the object.
      schema:
        type: integer
    embed:
      name: _embed
      in: query
      description: Embed linked resources (author, terms, featured media) into the _embedded member.
      schema:
        type: boolean
    order:
      name: order
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    perPage:
      name: per_page
      in: query
      description: Items per page. Maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
  headers:
    XWPTotal:
      description: Total number of items in the collection matching the query.
      schema:
        type: integer
    Link:
      description: RFC 8288 pagination links (rel="next" / rel="prev").
      schema:
        type: string
    XWPTotalPages:
      description: Total number of pages available for the query.
      schema:
        type: integer
  schemas:
    Post:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        content:
          $ref: '#/components/schemas/RenderedText'
        excerpt:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
          description: Numeric author id. Resolving it exposes an identifiable person; see the profile note.
        featured_media:
          type: integer
        categories:
          type: array
          items:
            type: integer
        tags:
          type: array
          items:
            type: integer
        _links:
          type: object
          additionalProperties: true
    RenderedText:
      type: object
      description: A WordPress rendered-text field.
      properties:
        rendered:
          type: string
          description: HTML rendering of the field.
        protected:
          type: boolean
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 — the media type is application/json and the machine-readable code lives in `code`, not `type`.
      properties:
        code:
          type: string
          examples:
          - rest_post_invalid_id
          - rest_invalid_param
          - rest_forbidden
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
          additionalProperties: true
