openapi: 3.2.0
info:
  title: Shop ICON Storefront Store API
  version: '2026-08-22'
  description: Anonymous, read-only JSON access to the Shop ICON storefront at store.iconaircraft.com — the ICON Aircraft merchandise store (A5 apparel, hats, scale models, publishing and flight-training products), built on Shopify.
  contact:
    name: Shop ICON
    url: https://store.iconaircraft.com/
  termsOfService: https://store.iconaircraft.com/policies/terms-of-service
servers:
- url: https://store.iconaircraft.com
  description: Shop ICON storefront (Shopify, Cloudflare edge)
- url: https://iconaircraft.myshopify.com
  description: Canonical myshopify origin for the same store
tags:
- name: Store
  description: Store-level metadata.
paths:
  /meta.json:
    get:
      operationId: getStoreMeta
      summary: Get storefront metadata
      description: Returns store identity and commerce settings — legal name, location, currency, money format, countries shipped to, published product and collection counts, and the enabled card brands. This is the operation that establishes which merchant the storefront belongs to.
      tags:
      - Store
      responses:
        '200':
          description: Store metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreMeta'
components:
  schemas:
    StoreMeta:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        city:
          type: string
        province:
          type: string
        country:
          type: string
        currency:
          type: string
        domain:
          type: string
        url:
          type: string
          format: uri
        myshopify_domain:
          type: string
        description:
          type: string
        ships_to_countries:
          type: array
          items:
            type: string
        money_format:
          type: string
        published_collections_count:
          type: integer
        published_products_count:
          type: integer
