openapi: 3.2.0
info:
  title: Shop ICON Storefront Collections API
  version: '2026-08-22'
  description: 'Anonymous, read-only JSON access to the Shop ICON storefront at store.iconaircraft.com — the ICON Aircraft merchandise store (A5 apparel, hats, scale models, publishing and flight-training products), built on Shopify.

    ICON Aircraft publishes no developer program and no product API for the A5 aircraft itself. This storefront surface is nonetheless a genuine, documented, machine-readable interface: the store''s own /agents.md and /robots.txt name these endpoints as the supported read path for AI agents, and each one was probed live and returned 200 without credentials on 2026-08-22.

    Ownership is established from the storefront''s own metadata rather than the fetch URL: GET /meta.json returns name "Shop ICON", domain store.iconaircraft.com, myshopify_domain iconaircraft.myshopify.com, and city Vacaville, California — ICON Aircraft''s headquarters. The store also stocks Flight Design branded merchandise, consistent with Flight Design being ICON Aircraft''s sister company under Shang Gong Group.

    Derived by API Evangelist from https://store.iconaircraft.com/agents.md and from live anonymous probes of every operation below. The transactional surface (cart, checkout, order) is NOT described here — Shopify exposes it to agents through the UCP/MCP endpoint instead; see mcp/icon-aircraft-mcp.yml.'
  contact:
    name: Shop ICON
    url: https://store.iconaircraft.com/
  termsOfService: https://store.iconaircraft.com/policies/terms-of-service
servers:
- url: https://store.iconaircraft.com
  description: Shop ICON storefront (Shopify, Cloudflare edge)
- url: https://iconaircraft.myshopify.com
  description: Canonical myshopify origin for the same store
tags:
- name: Collections
  description: Merchandising collections.
paths:
  /collections.json:
    get:
      operationId: listCollections
      summary: List published collections
      description: Lists the merchandising collections a shopper can browse. Verified live at 13 published collections on 2026-08-22 — accessories, cold-weather-gear, everything, sport-flying-manuals, frontpage, hats, icon-aircraft-publishing-books, icon-website-featured, mens, new-arrivals, womens and junior-aviators.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A page of collections.
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
  /collections/{handle}/products.json:
    get:
      operationId: listCollectionProducts
      summary: List the products in one collection
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/handle'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A page of products within the collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: No published object exists at that handle.
      content:
        text/html:
          schema:
            type: string
  schemas:
    Collection:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        handle:
          type: string
        description:
          type: string
        published_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        products_count:
          type: integer
    Image:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        src:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        position:
          type: integer
        alt:
          type:
          - string
          - 'null'
        variant_ids:
          type: array
          items:
            type: integer
    Option:
      type: object
      properties:
        name:
          type: string
        position:
          type: integer
        values:
          type: array
          items:
            type: string
    Variant:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        title:
          type: string
        option1:
          type:
          - string
          - 'null'
        option2:
          type:
          - string
          - 'null'
        option3:
          type:
          - string
          - 'null'
        sku:
          type:
          - string
          - 'null'
        price:
          type: string
          description: Decimal string in the store currency, for example "30.00".
        compare_at_price:
          type:
          - string
          - 'null'
        available:
          type: boolean
        grams:
          type: integer
        requires_shipping:
          type: boolean
        taxable:
          type: boolean
        position:
          type: integer
        featured_image:
          oneOf:
          - $ref: '#/components/schemas/Image'
          - type: 'null'
    Product:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        handle:
          type: string
        body_html:
          type: string
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        vendor:
          type: string
        product_type:
          type: string
        tags:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/Variant'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        options:
          type: array
          items:
            $ref: '#/components/schemas/Option'
  parameters:
    page:
      name: page
      in: query
      description: 1-indexed page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    handle:
      name: handle
      in: path
      required: true
      description: The storefront handle (URL slug) of the object.
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Items per page. Shopify caps this at 250.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 30
